<div class="card-container project">
  <%= link_to project do %>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front" style="background-image:url('<%= %>');">
          <div><%= project.name %></div>
          <div><%= project.university %></div>
        </div>
        <div class="back">
          <%= project.summary.html_safe %>
        </div>
      </div>
    </div>
  <% end %>
</div>