<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :university %>
    <%= f.text_field :university %>
  </div>
  <div class="field">
    <%= f.label :summary %>
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :impact %>
    <%= f.text_area :impact %>
  </div>
  <div class="field">
    <%= f.label :procedure %>
    <%= f.text_area :procedure %>
  </div>
  <div class="field">
    <%= f.label :results %>
    <%= f.text_area :results %>
  </div>
  <div class="field">
    <%= f.label :future %>
    <%= f.text_area :future %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
